/* Signin */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-hcenter {
  justify-content: center;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.sign-in {
  position: relative;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
  width: 375px;
  height: 812px;
}

.group-694 {
  position: absolute;
  top: 0px;
  none: 0px;
  padding: 101px 365px 100px 171px;
  box-sizing: border-box;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/vnbz69ayv3-57%3A2453?alt=media&token=293ee81b-8768-4d11-b262-ed567a403cee);
  background-size: 100% 100%;
  width: 653px;
  height: 321px;
}

.group-65818 {
  width: 115.43px;
  height: 100%;
}

.statusbar {
  position: absolute;
  top: 0%;
  bottom: 94.58%;
  left: 0%;
  right: 0%;
  padding: 13px 13px 11px 19px;
  box-sizing: border-box;
  height: 44px;
  width: 100%;
}

.action {
  margin-right: 220px;
  box-sizing: border-box;
  width: 54px;
  height: 100%;
}

.txt-716 {
  font-size: 15px;
  font-family: SF Pro Text, sans-serif;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 55px;
  word-wrap: break-word;
}

.container {
  width: 67px;
  height: 11.5px;
}

.group-627 {
  position: absolute;
  top: 288px;
  none: 0px;
  padding: 27px 28px 56px 28px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  height: 524px;
  width: 100%;
}

.txt-167 {
  font-size: 30px;
  font-family: Flame, sans-serif;
  font-weight: 700;
  color: rgba(245, 130, 51, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.group-971 {
  width: 100%;
}

.txt-278 {
  font-size: 15px;
  font-family: Nunito, sans-serif;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: rgba(48, 48, 48, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 140px;
}

.group-127 {
  padding: 15px 196px 3px 15px;
  margin-bottom: 95px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(242, 242, 242, 1);
  height: 48px;
  width: 100%;
}

.txt-711 {
  font-size: 22px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  letter-spacing: 5.94px;
  color: rgba(26, 26, 26, 1);
  word-wrap: break-word;
}

.group-8 {
  padding: 16px 125px 14px 126px;
  box-sizing: border-box;
  border-radius: 17px 15px 15px;
  background-color: rgba(245, 130, 51, 1);
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
  height: 60px;
  width: 100%;
}

.txt-4410 {
  font-size: 20px;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  color: rgba(248, 248, 248, 1);
  word-wrap: break-word;
}

.txt-10910 {
  font-size: 14px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  color: rgba(26, 26, 26, 1);
  word-wrap: break-word;
  margin-bottom: 6px;
}

.group-332 {
  padding: 14px 187px 13px 14px;
  margin-bottom: 117px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(242, 242, 242, 1);
  height: 49px;
  width: 100%;
}

.txt-734 {
  font-size: 16px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  color: rgba(26, 26, 26, 1);
  word-wrap: break-word;
}

.txt-887 {
  font-size: 16px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: rgba(24, 24, 24, 1);
  text-align: center;
  word-wrap: break-word;
}
